@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-bg {
        @apply bg-gradient-to-r;
        background: linear-gradient(32deg, #1D60CC -15.05%, rgba(29, 96, 204, 0.00) 24.57%), linear-gradient(65deg, #FFF 72.04%, #195699 122.22%);

    }
}

#introText::after {
    content: "|";
    @apply text-gray-800;
    animation: blink 1s infinite;
}

.hover-thought {
    @apply transform;
    @apply transition;
    @apply ease-in-out;
    @apply hover:scale-110;
    @apply hover:translate-y-1;
    @apply hover:shadow-2xl;
    @apply hover:border-blue-800;
    @apply hover:text-blue-800;
    @apply hover:bg-sky-100;
}

.active-thought {
    @apply transform;
    @apply transition;
    @apply ease-in-out;
    @apply scale-110;
    @apply translate-y-1;
    @apply shadow-2xl;
    @apply border-blue-800;
    @apply text-blue-800;
    @apply bg-sky-100;
}

.active {
    @apply bg-blue-800 border border-blue-800 w-3.5 h-3.5;
}